.App {
  text-align: center;
}

.navbar {
  background-color: cornflowerblue;
  height: 80px;
}

h6 {
  padding: 10px;
}

.astronomy-image-wrapper {
  width: 90%;
}

.astronomy-explanation {
  font-size: 16px;
  padding: 10px;
}

p {
  width: 90%;
  text-align: center;
}

h4 {
  padding: 20px;
}

.astronomy-title {
  padding: 20px;
}

.about-page {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}

/* .note-form {
  width: 50%;
  padding: 12px 20px;
  background-color: lightcyan;
  color: black;
  margin: 10px;
} */
