.App {
  text-align: center;
}

.navbar {
  background-color: cornflowerblue;
  height: 80px;
}

.astronomy-app {
  font-size: 30px;
  color: white;
}

.home-button {
  font-size: 20px;
  color: white;
}

.about-button {
  font-size: 20px;
  color: white;
}

.new-button {
  font-size: 20px;
  color: white;
}

.all-notes-button {
  font-size: 20px;
  color: white;
}

h6 {
  padding: 10px;
}

.astronomy-image-wrapper {
  width: 90%;
}

p {
  width: 90%;
  text-align: center;
}

h4 {
  padding: 20px;
}

.astronomy-title {
  padding: 20px;
}

.about-page {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}

/* .note-form {
  width: 50%;
  padding: 12px 20px;
  background-color: lightcyan;
  color: black;
  margin: 10px;
} */
